body {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: rgba(43, 53, 62, 0.7);
  font-size: 18px;
  line-height: 161%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #2b353e;
  font-size: 45px;
  line-height: 128%;
  font-weight: 500;
  text-align: center;
}

h3 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #2b353e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.subtitle {
  /* margin-bottom: 10px; */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.section {
  padding: 90px 60px;
}

.section.cta-section {
  background-color: rgba(54, 57, 164, 0.1);
  color: rgba(43, 53, 62, 0.7);
}

.section.footer-section {
  padding-bottom: 30px;
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flexbox.cta-flexbox {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flexbox.footer {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flexbox.hero-flexbox {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-section {
  min-height: 100vh;
  padding: 20vh 60px;
  background-color: #000;
}

.left-block {
  min-width: 400px;
  margin-right: 60px;
  margin-bottom: 100px;
}

.hero-flexbox {
  display: flex;
  align-items: center;
}

.list-mount {
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox .item-column {
  width: 268px;
  height: 273px;
  margin: 25px 15px;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    #000000 20.31%,
    rgba(130, 130, 130, 0.530769) 86.98%,
    rgba(224, 224, 224, 0) 100%
  );
}

.heading {
  padding-top: 20px;
  color: #fff;
  text-align: left;
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 67px;
}

.heading-paragraph {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 137.9%;
  color: #fff;
  margin-bottom: 35px;
}

.paragraph {
  max-width: 566px;
  margin: 0 auto 26px auto;
  line-height: 161%;
  font-size: 18px;
}

.left-column {
  align-items: center;
}
.hero-btn {
  width: 230px;
  height: 54px;
  background-color: #3ec290;
  border-radius: 4px;
  color: #fff;
  padding: 16px 38px;
  text-align: center;
  border: none;
}
.card-container {
  justify-content: flex-start;
}

.card-column {
  display: flex;
  justify-content: space-around;
}

.round-black {
  margin-top: 18px;
  width: 48px;
  height: 48px;
  background-color: #504e5c;
  border-radius: 50px;
}

.round-blue {
  margin-top: 18px;
  width: 42px;
  height: 42px;
  background-color: #5871f6;
  border-radius: 50px;
  background-image: url("/images/interface.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.round-blue:hover {
  background-color: #5f69a1;
  border-radius: 50px;
  background-image: url("/images/interface.svg");
  cursor: pointer;
}

.item-title {
  color: aliceblue;
  margin-top: 18px;
  margin-bottom: 0;
}

.item-content {
  color: aliceblue;
  margin-left: 18px;
  font-family: "Poppins", sans-serif;
}

.card-btn {
  text-decoration: none;
  transform: translate(30%, 230%);
  border: 0;
  background: #52505e;
  border-radius: 26px;
  width: 169px;
  height: 48px;
  color: aliceblue;
}

.card-btn:hover {
  color: #282134;
  text-decoration: none;
  transform: translate(30%, 230%);
  border: 0;
  background: #b4b2bd;
  border-radius: 26px;
  width: 169px;
  height: 48px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #5871f6;
  margin: 5px;
  transition: 0.4s;
  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: #282134;
}

.pagination button.active {
  background-color: #282134;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.bg-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-container {
  position: relative;
  top: 10%;
  width: 468px;
  height: 273px;
  margin: 15px;
  border-radius: 15px;
  background: white;
  transition: 0.3s;
}

.modal-content > .item-content {
  padding-top: 20px;
  color: #282134;
}

.close {
  color: black;
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  transition: 0.3s;
  transform: rotate(0deg);
}

.cta-flexbox {
  margin: 0 30px;
  padding: 0 80px;
  background-color: #f4f4f4;
}

.cta-block {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 120px;
}

.footer {
  padding-top: 0;
}
.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16.666666666666668%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-column.last {
  margin-right: 0px;
}

.footer-column.first {
  margin-left: 0px;
}

@media screen and (max-width: 991px) {
  .section.footer-section {
    padding-top: 60px;
  }
  .section.mobile-overflow {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .flexbox.footer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .hero-section {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .left-block {
    min-width: 322px;
    margin-bottom: 40px;
  }
  .heading {
    width: auto;
    font-size: 60px;
  }
  .paragraph {
    font-size: 18px;
  }
  .button {
    padding: 12px 30px;
    line-height: 160%;
  }
  .ghost-button {
    margin-left: 25px;
    padding: 12px 30px;
    line-height: 160%;
    font-weight: 500;
  }
  .cta-block {
    min-width: 340px;
  }
  .heading-2 {
    font-size: 35px;
  }
  .footer-column {
    width: auto;
    margin-right: 30px;
    margin-left: 0px;
  }
  .footer-column.first {
    max-width: 130px;
  }
  .footer-column.hide {
    display: none;
  }
  .text-block-3 {
    margin-top: 60px;
  }
  .image-2 {
    min-width: auto;
  }
  .heading-3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .section.cta-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .flexbox.cta-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
  }
  .flexbox.footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flexbox.hero-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .div-block-1 {
    max-width: 580px;
  }
  .cta-block {
    max-width: 430px;
    min-width: 340px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    text-align: center;
  }
  .heading-2 {
    text-align: center;
  }
  .div-block-3 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-column {
    margin-bottom: 30px;
  }
  .nav-link {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px none #000;
  }
  .nav-link:hover {
    border: 1px none #000;
  }
  .nav-link-copy {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .icon {
    color: rgba(235, 237, 239, 0.7);
  }
  .menu-button {
    margin-top: 20px;
  }
  .menu-button.w--open {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #2b353e;
  }
  .nav-menu {
    padding: 30px 60px;
    background-color: #2b353e;
  }
  .nav-menu:hover {
    border-bottom: 1px none #000;
  }
}

@media screen and (max-width: 479px) {
  .section.cta-section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.footer-section {
    padding: 30px;
  }
  .section.mobile-overflow {
    overflow: hidden;
    padding: 31px;
  }

  .hero-section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .left-block {
    min-width: auto;
    margin-right: 0px;
  }
  .heading {
    font-size: 14vw;
  }
  .button {
    display: block;
    max-width: 260px;
  }
  .ghost-button {
    display: block;
    max-width: 260px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .cta-block {
    min-width: auto;
  }
  .heading-2 {
    font-size: 27px;
  }
  .text-block {
    margin-top: 10px;
  }
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
  .heading-3 {
    font-size: 27px;
  }
  .image-2 {
    max-width: 100%;
  }
}
